 pandas
 polars
 numpy
 scikit-learn
 statsmodels
 pmdarima
 seaborn
 matplotlib
 altair
 plotly
 pytorch
 beautifulsoup4
 scrapy
 pygame
 opencv
 pillow
 flask
 scipy
 xgboost
 lightgbm
 catboost
 optuna
 transformers
 langchain
 ipykernel